<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=
    , initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <title>Document</title>
</head>

<body>
  <div class="wrapper">
    <div class="title-text">
      <h2>welcome to my site {{ d.name }}</h2>
    </div>
  </div>
</body>
<script src="javascript/style.js"></script>

</html>