<!DOCTYPE html>
<html lang="en">

<head>
    {{!-- header links --}}
    {{> link}}
</head>

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        {{> spinner}}
        <!-- Spinner End -->

        <!-- Navbar & Hero Start -->
        {{> commonnavbar}}
        <!-- Navbar & Hero End -->

        <!-- Contact Start -->
        {{> contact}}
        <!-- Contact End -->

        <!-- Footer Start -->
        {{> footer}}
        <!-- Footer End -->

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    {{> script}}    
    <!-- Template Javascript -->
    <script src="/js/main.js"></script>
</body>

</html>